* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:aliceblue;
    color: #333;
}

header {
    background-color: #302a83;
    color: white;
    padding: 1rem 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 100px;
}

header .menu {
    list-style: none;
}

header .menu li {
    display: inline;
    margin-left: 20px;
}

header .menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.section {
    padding: 60px 20px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1rem;
    margin-bottom: 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #302a83;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #302a83;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 800px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    form {
        padding: 10px;
    }
}
